<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	<title>GruzAuth | Gruzservices</title>
	<link rel="shortcut icon" href="https://media.istockphoto.com/vectors/security-symbol-lock-icon-app-security-symbol-for-your-web-site-vector-id1139901980?k=20&amp;m=1139901980&amp;s=170667a&amp;w=0&amp;h=7L7RrA9cerBjX9S7chF_07RqMBQphJ2bIXkEfMFKtd4=" type="image/x-icon">
	<script defer src='/build/bundle.js'></script>
	<link rel='stylesheet' href='/global.css' type="text/css">
	<link rel='stylesheet' href='/build/bundle.css' type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
	<script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity=
    "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous"></script>
</head>

<body>
</body>
</html>
